@import "tailwindcss";

@font-face {
  font-family: 'secondaryFont';
  src: url('/fonts/NataSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font weight */
  font-style: normal;
}

@font-face {
  font-family: 'primaryFont';
  src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Reusable class */
h1 {
  font-family: 'secondaryFont', sans-serif; /* main font */
 
}

/* Example for secondary font if needed */
p {
  font-family: 'primaryFont', sans-serif;
}
.price-card {background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);}

.reset-tw, .reset-tw *{
  all: revert !important;
}


.cl-drawerRoot{
  z-index: 10;
}


